.toast-container.toast-container--x-right.toast-container--y-top {
  position: fixed;
  bottom: 20px;
  height: 100px;
  top: 85%;
  margin: 0 auto;
  width: 100%;
  right: auto;
  left: auto;
  text-align: center;

  .toast--error {
    margin: 0 auto;
    display: block;
  }
}

.product-summary__badge--new {
  display: none !important;
}
