.form__row {
  input:not([type="checkbox"]):not([type="radio"]),
  select {
    border: 1px solid #e2e2e9;
    padding: 10px 15px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  }

  input[type="checkbox"],
  input[type="radio"] {
    border-color: #cccccc;
  }
}

.form__row--floating input:not([type=checkbox]):not([type=radio]):not([type=hidden])~label{
  top: 3px;
}

.form__row--floating
  input:not([type="checkbox"]):not([type="radio"]):not(
    [type="hidden"]
  ):-webkit-autofill
  ~ label,
.form__row--floating
  input:not([type="checkbox"]):not([type="radio"]):not(
    [type="hidden"]
  ):focus-within
  ~ label,
.form__row--floating
  input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]):not(
    :placeholder-shown
  )
  ~ label,
.form__row--floating select:-webkit-autofill ~ label,
.form__row--floating select:focus-within ~ label,
.form__row--floating select:not(:placeholder-shown) ~ label,
.form__row--floating textarea:-webkit-autofill ~ label,
.form__row--floating textarea:focus-within ~ label,
.form__row--floating textarea:not(:placeholder-shown) ~ label {
  top: 0;
  border: none !important;
  color: var(--bs-body-color);
}

#customer_login__forgot, #quick_login__forgot, .form-details__already-customer a, .form-details__already-customer a{
  font-size: .9375rem;
  text-decoration: none !important;
}

.btn[data-toggle-pw] {
  top: 5px;
}
