section.widget-recently-viewed {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
section.widget-recently-viewed .widget-header {
  padding-top: 0;
}
section.widget-recently-viewed .widget-header h2 {
  font-weight: 600;
}
section.widget-recently-viewed .compact-image__badges--left {
  display: none !important;
}
section.widget-recently-viewed .compact-image__image-wrapper {
  border-radius: var(--js-border-radius);
  overflow: hidden;
  width: 150px;
}
section.widget-recently-viewed .product__name {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.2;
  min-height: 2rem;
  overflow: hidden;
}

section.widget-recently-viewed .custom-stock__wrapper,
.product-content__block--recommendations .custom-stock__wrapper,
.cart__related-products .custom-stock__wrapper {
  display: none !important;
}
section.widget-recently-viewed .splide__arrows .splide__arrow--prev,
.product-content__block--recommendations .splide__arrows .splide__arrow--prev,
.cart__related-products .splide__arrows .splide__arrow--prev {
  left: -60px;
}
section.widget-recently-viewed .splide__arrows .splide__arrow--next,
.product-content__block--recommendations .splide__arrows .splide__arrow--next,
.cart__related-products .splide__arrows .splide__arrow--next {
  right: -60px;
}
section.widget-recently-viewed .product--slider [class*=__image-wrapper],
.product-content__block--recommendations .product--slider [class*=__image-wrapper],
.cart__related-products .product--slider [class*=__image-wrapper] {
  border-radius: var(--js-border-radius);
}
section.widget-recently-viewed .product--slider [class*=__image-wrapper] > img,
.product-content__block--recommendations .product--slider [class*=__image-wrapper] > img,
.cart__related-products .product--slider [class*=__image-wrapper] > img {
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  section.widget-recently-viewed,
  .product-content__block--recommendations,
  .cart__related-products {
    padding-bottom: 2.5rem;
  }
  section.widget-recently-viewed .compact-image__badges--left,
  .product-content__block--recommendations .compact-image__badges--left,
  .cart__related-products .compact-image__badges--left {
    display: none !important;
  }
  section.widget-recently-viewed .compact-image__image-wrapper,
  .product-content__block--recommendations .compact-image__image-wrapper,
  .cart__related-products .compact-image__image-wrapper {
    border-radius: var(--js-border-radius);
    overflow: hidden;
    width: 155px;
  }
  section.widget-recently-viewed .splide,
  .product-content__block--recommendations .splide,
  .cart__related-products .splide {
    display: flex;
    flex-direction: column;
  }
  section.widget-recently-viewed .splide__arrows,
  .product-content__block--recommendations .splide__arrows,
  .cart__related-products .splide__arrows {
    position: relative;
    order: 2;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  section.widget-recently-viewed .splide__arrows .splide__arrow--prev,
  .product-content__block--recommendations .splide__arrows .splide__arrow--prev,
  .cart__related-products .splide__arrows .splide__arrow--prev {
    left: auto;
    right: 15%;
  }
  section.widget-recently-viewed .splide__arrows .splide__arrow--next,
  .product-content__block--recommendations .splide__arrows .splide__arrow--next,
  .cart__related-products .splide__arrows .splide__arrow--next {
    right: 0%;
  }
  section.widget-recently-viewed .splide__track,
  .product-content__block--recommendations .splide__track,
  .cart__related-products .splide__track {
    order: 1;
  }
  section.widget-recently-viewed .product__name,
  .product-content__block--recommendations .product__name,
  .cart__related-products .product__name {
    font-size: 0.8rem;
  }
  section.widget-recently-viewed .custom-stock__wrapper,
  .product-content__block--recommendations .custom-stock__wrapper,
  .cart__related-products .custom-stock__wrapper {
    display: none;
  }
}/*# sourceMappingURL=product-sliders.css.map */